html, body {
  height: 100%;
  background-color: orange;
  box-sizing: border-box;
}

.banner {
  height: 100px;
}

.banner:first-child {
  background-color: blue;
}

.banner:nth-child(2) {
  background-color: green;
}

.snow-pixel {
  height: 2px;
  width: 2px;
  background-color: #fff;
}

.spacer {

}