html, body {
  height: 100%;
  box-sizing: border-box;
  background-color: #eee;

  // background: #3a6186; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav {
  background-color: #eee;
}

.lowercase {
  text-transform: none;
}